.collapse{
    display: flex;
    justify-content: center;
}
.bottom{
    border-bottom: 1px solid pink;
}
.cream{
    margin-top: 100px;
   margin-left: 200px;
   width: 100px; 
}
.pink{
    background-color: pink;
    border: 0px;
    border-radius: 5px;
    width: 170px;
    height: 35px;
    margin-left: 200px;
}
.pinks{
    color: pink;
}
.strawberry{
    display: flex;
    justify-content: center;
}
.img{
    width: 500px;
    height: 300px;
    margin-top: 70px;
    margin-left: 100px;
}
.creamy{
    width: 400px ;
    margin-left: 200px;
}
.dameBlanche{
    width: 400px;
    margin-left: 100px;
    margin-top: 100px;
}
.about{
    margin-top: 200px;
}
.login{
   width: 100px; 
   height: 50px;
   border: 0px;
   background-color: white;
}
.text{
    width:700px;
    margin-top: 30px;
}
